html,body{
    max-width:100%;
    overflow-x:hidden;
}  
    body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-image:url(../images/banner.png); 
    height:auto;
    width:100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-2 {
    width:100%;
    height:auto;
    background-attachment: fixed;
    background-image: url(../images/banner2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #111111;
    color: #fff;
  }
  .bg-4 { 
    background-color: #2f2f2f;
    color: #fff;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /* .navbar {
    padding-top: 15px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0 !important;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a{
      margin-top: 10px;
  }
  .navbar-nav  li a:hover {
    color: #f00f35 !important;
    margin-top: 20px;
    font-weight: 700;
  } */
#no{
    border-radius: 50%;
}
.ist{
    margin-left: 500px;
}
.tst{
    text-align: left;
    margin-left: 50px;
    color: #fff;
}
.vst{
    font-family: lobster;
    font-size: 1.3em;
}
.im{
  width: 600px;
  height:400px;
  border-radius: 5%;

}
.p1{
  margin-left: 60px;
  line-height: 1.5;
  text-align: justify;
}
#su1
{
  margin-left: 50px;
  font-family: cursive !important;
  color: #f00f35;
  font-weight: 700;
  font-size: 1.2em;
}
.imt{
  margin-top:30px;
  margin-left:30px;
  width: 600px;
  height:500px;
}
  
#su0
{
  margin-top: 50px;
  margin-left: 50px;
  font-family: cursive !important;
  color: #f00f35;
  font-weight: 700;
  font-size: 1.2em;
}
.vid{
  margin-left: 400px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color: black;
  
}
.pol{
  font-weight: 500;
  font-size: 1.3em;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}
/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.5;
    color:white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius:50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius:50%;
}

.fa-google {
  background: #dd4b39;
  color: white;
  border-radius:50%;
} */

.bg{
  background-color:#111111 ;
}
.form-container{
  background-color:#f5f6f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;

}
.form-container .btn{
  background-color:#b61726;
  border: none;
  color: #fff;
  font-weight: 600;
}
.form-container .btn:hover{
  
  color: #fff;

}
.navbar .bg-danger{
  background-color:#b61726;
}
.navbar ul li a{
  /* color: #fff;
  background: aqua;
    padding: 10px 11px; */
}
.navbar img{
    border: 2px solid white;
    border-radius: 50%;
}
.navbar .navbar-nav .nav-link{
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  /* background: black;
  padding: 10px 16px;
  margin: 0px 8px; */
}
.navbar .navbar-nav .nav-item{
 
  margin: 0px 8px;
  padding: 7px 14px;
}
.navbar .navbar-nav .nav-item:hover{
 
  background-color: #111111;
  margin: 0px 8px;
  padding: 7px 14px;
}
.navbar-toggler i{
  color: #fff;
}
/* footer css */
.footer{
  padding: 50px;
  position: relative;
  background-color: #000000e8;
}
.footer p{
  padding: 30px 0px;
 color: #fff;
}
.social-icon ul{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%,-50%);
}
.social-icon ul li{
 list-style: none;
 margin: 0 15px;
}
.social-icon ul li .fa{
  font-size: 20px;
  line-height: 50px;
  transition: .6s;
  color: #fff;
 }
 .social-icon ul li .fa:hover{

 }
 .social-icon ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b61726;
    text-align: center;
    box-shadow: 0 5px 4px rgba(0,0,0,5);
 }
 .social-icon ul li a:hover{
    transform: translate(0, -10px);
 }