/*.bg-8{
    color: #fff;
    background-color: rgb(38, 39, 39);
    background-image:url(https://images.unsplash.com/photo-1472712739516-7ad2b786e1f7?ixlib=rb-1.2.1&w=1000&q=80);
    background-position: center;
}*/
.content{
    background-image: url(../images/backgroumd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 30px 0px;
}
.content h1{
    text-align: center;
    color: aliceblue;
    padding: 10px 0px;
}
.content h3{
    text-align: center;
    color: #b61726;
    padding: 15px 0px;
    text-transform: uppercase;
}
/*p
{
    text-align: justify;
}*/
.solar{
    width: 100%;
    background-image:url(../images/banner1.jpg);
    min-height: 250px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    color:red!important;
    font-size: 21px!important;
    font-weight: 700!important;
}
#heado{
    color: red;
    font-weight: 700!important;
}
#ml{
    font-family: Snell Trattatello, hand cursive;
}
